{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}


{% block body %}
<style>
  body{
  background-color:ghostwhite;
  }
  .jumbotron{
  background-color:white;
  }
</style>

<main role="main" >

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" >
    <div class="container" >
      <h1 class="display-3">Mi Store</h1>
      <p>Xiaomi was founded in 2010 by serial entrepreneur Lei Jun based on the vision “innovation for everyone”.
We believe that high-quality products built with cutting-edge technology should be made accessible to everyone.
We create remarkable hardware, software, and Internet services for and with the help of our Mi fans. We incorporate
their feedback into our product range, which currently includes Mi and Redmi smartphones, Mi TVs and set-top boxes,
Mi routers, and Mi Ecosystem products including smart home products, wearables and other accessories.
With presence in over 30 countries and regions, Xiaomi is expanding its footprint across the world to
become a global brand. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>OUR CULTURE</h2>
        <p>"Just for fans" – that's our belief. Our hardcore Mi fans lead every step of the way. In fact, many
Xiaomi employees were first Mi fans before joining the team. As a team, we share the same relentless
pursuit of perfection, constantly refining and enhancing our products to create the best user experience
possible. We are also fearless in testing new ideas and pushing our own boundaries. Our dedication
and belief in innovation, together with the support of Mi fans, are the driving forces behind our
unique Mi products. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>CAREERS</h2>
        <p>Xiaomi is focused on being the most user-centric mobile internet company, and we aim
to constantly exceed expectations through innovations in software, hardware and services.
Many of our employees were initially fans of Mi products, before they decided to join us. Our team is
not only passionate about technology, but also relentlessly pursues perfection to break tradition and
push boundaries, all just to ensure that our products remain unique and offer an unparalleled user
experience. Xiaomi is headquartered in Beijing, China and has offices
in Asia-Pacific, India, and Europe.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>OFFICE ENVIRONMENT</h2>
        <p>We are incredibly flat, open, and innovative. No never-ending meetings. No lengthy processes.
We provide a friendly and collaborative environment where creativity is encouraged to flourish.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
