{% extends 'shop/basic.html' %}

{% block title%} Order Approval{% endblock %}


{% block body %}
<style>
  body{
  background-color:ghostwhite;
  }
  .jumbotron{
  background-color:white;
  }
</style>

<main role="main" >

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" >
    <div class="container" >
      <h2 class="display-3 text-center">Order Approval</h2>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h3><li  {% if message.tags %} class="text-{{ message.tags }} text-center" {% endif %}> {{ message }} </li></h3>
            {% endfor %}
        </ul>
        {% endif %}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in info %}
          <tr>
              
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td>{{i.city}}</td>
            <td>{{i.state}}</td>
            {% if i.status %}
                <td><a href="{% url 'set_order_approval' id=i.pk%}" class="btn btn-success">Approved</a></td>
            {% else %}
            <td><a href="{% url 'set_order_approval' id=i.pk %}" class="btn btn-warning">Pending</a></td>
            {% endif %}
            <td><a href="{% url 'order_cancel' id=i.pk %}" class="text-danger"><small>Cancel Order </small></a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr>

    </div> <!-- /container -->
  
  </main>
  
  
  {% endblock %}